
@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center pb-4">
    <h1 class="display-4">Keoghs Kata - Daniel Yacoubian</h1>
    </div>
    <p>A basic MVC5 application using .net core 6, EF6 and a sqlite DB</p>
    <p>Architecture maybe slightly unorthodox - i went for a no javascript approach - but i decided to use this opportunity to try some things i haven't used before in MVC and also figure out how to initialize the application's startup using the new .net 6 minimal API</p>
    <p>In a real world scenario, i would just follow an existing architecture used within the company</p>
    <p>Please navigate to the Checkout Page button on the navbar to begin</p>




